In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import *
from pyspark.sql.types import DoubleType

In [2]:
spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [3]:
df = spark.read.csv("WorldCupMatches.csv",header=True);
df.show()
print(df.schema)

+----+--------------------+-----------------+--------------------+-----------+--------------+---------------+---------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+-------+------------------+------------------+
|Year|            Datetime|            Stage|             Stadium|       City|Home Team Name|Home Team Goals|Away Team Goals|Away Team Name|      Win conditions|Attendance|Half-time Home Goals|Half-time Away Goals|             Referee|         Assistant 1|         Assistant 2|RoundID|MatchID|Home Team Initials|Away Team Initials|
+----+--------------------+-----------------+--------------------+-----------+--------------+---------------+---------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+-------+------------------+------------------+
|1930|13 Jul 1930 - 15:00 |          Group 1|             Pocitos|Montevideo |        France|              4|              1|        Mexico|                    |      4444|                   3|                   0|LOMBARDI Domingo ...|CRISTOPHE Henry (...| REGO Gilberto (BRA)|    201|   1096|               FRA|               MEX|
|1930|13 Jul 1930 - 15:00 |          Group 4|      Parque Central|Montevideo |           USA|              3|              0|       Belgium|                    |     18346|                   2|                   0|   MACIAS Jose (ARG)|MATEUCCI Francisc...|WARNKEN Alberto (...|    201|   1090|               USA|               BEL|
|1930|14 Jul 1930 - 12:45 |          Group 2|      Parque Central|Montevideo |    Yugoslavia|              2|              1|        Brazil|                    |     24059|                   2|                   0| TEJADA Anibal (URU)|VALLARINO Ricardo...| BALWAY Thomas (FRA)|    201|   1093|               YUG|               BRA|
|1930|14 Jul 1930 - 14:50 |          Group 3|             Pocitos|Montevideo |       Romania|              3|              1|          Peru|                    |      2549|                   1|                   0|WARNKEN Alberto (...| LANGENUS Jean (BEL)|MATEUCCI Francisc...|    201|   1098|               ROU|               PER|
|1930|15 Jul 1930 - 16:00 |          Group 1|      Parque Central|Montevideo |     Argentina|              1|              0|        France|                    |     23409|                   0|                   0| REGO Gilberto (BRA)|SAUCEDO Ulises (BOL)|RADULESCU Constan...|    201|   1085|               ARG|               FRA|
|1930|16 Jul 1930 - 14:45 |          Group 1|      Parque Central|Montevideo |         Chile|              3|              0|        Mexico|                    |      9249|                   1|                   0|CRISTOPHE Henry (...|APHESTEGUY Martin...| LANGENUS Jean (BEL)|    201|   1095|               CHI|               MEX|
|1930|17 Jul 1930 - 12:45 |          Group 2|      Parque Central|Montevideo |    Yugoslavia|              4|              0|       Bolivia|                    |     18306|                   0|                   0|MATEUCCI Francisc...|LOMBARDI Domingo ...|WARNKEN Alberto (...|    201|   1092|               YUG|               BOL|
|1930|17 Jul 1930 - 14:45 |          Group 4|      Parque Central|Montevideo |           USA|              3|              0|      Paraguay|                    |     18306|                   2|                   0|   MACIAS Jose (ARG)|APHESTEGUY Martin...| TEJADA Anibal (URU)|    201|   1097|               USA|               PAR|
|1930|18 Jul 1930 - 14:30 |          Group 3|  Estadio Centenario|Montevideo |       Uruguay|              1|              0|          Peru|                    |     57735|                   0|                   0| LANGENUS Jean (BEL)| BALWAY Thomas (FRA)|CRISTOPHE Henry (...|    201|   1099|               URU|               PER|
|1930|19 Jul 1930 - 12:50 |          Group 1|  Estadio Centenario|Montevideo |         Chile|              1|              0|        France|                    |      2000|                   0|                   0| TEJADA Anibal (URU)|LOMBARDI Domingo ...| REGO Gilberto (BRA)|    201|   1094|               CHI|               FRA|
|1930|19 Jul 1930 - 15:00 |          Group 1|  Estadio Centenario|Montevideo |     Argentina|              6|              3|        Mexico|                    |     42100|                   3|                   1|SAUCEDO Ulises (BOL)|ALONSO Gualberto ...|RADULESCU Constan...|    201|   1086|               ARG|               MEX|
|1930|20 Jul 1930 - 13:00 |          Group 2|  Estadio Centenario|Montevideo |        Brazil|              4|              0|       Bolivia|                    |     25466|                   1|                   0| BALWAY Thomas (FRA)|MATEUCCI Francisc...|VALLEJO Gaspar (MEX)|    201|   1091|               BRA|               BOL|
|1930|20 Jul 1930 - 15:00 |          Group 4|  Estadio Centenario|Montevideo |      Paraguay|              1|              0|       Belgium|                    |     12000|                   1|                   0|VALLARINO Ricardo...|   MACIAS Jose (ARG)|LOMBARDI Domingo ...|    201|   1089|               PAR|               BEL|
|1930|21 Jul 1930 - 14:50 |          Group 3|  Estadio Centenario|Montevideo |       Uruguay|              4|              0|       Romania|                    |     70022|                   4|                   0| REGO Gilberto (BRA)|WARNKEN Alberto (...|SAUCEDO Ulises (BOL)|    201|   1100|               URU|               ROU|
|1930|22 Jul 1930 - 14:45 |          Group 1|  Estadio Centenario|Montevideo |     Argentina|              3|              1|         Chile|                    |     41459|                   2|                   1| LANGENUS Jean (BEL)|CRISTOPHE Henry (...|SAUCEDO Ulises (BOL)|    201|   1084|               ARG|               CHI|
|1930|26 Jul 1930 - 14:45 |      Semi-finals|  Estadio Centenario|Montevideo |     Argentina|              6|              1|           USA|                    |     72886|                   1|                   0| LANGENUS Jean (BEL)|VALLEJO Gaspar (MEX)|WARNKEN Alberto (...|    202|   1088|               ARG|               USA|
|1930|27 Jul 1930 - 14:45 |      Semi-finals|  Estadio Centenario|Montevideo |       Uruguay|              6|              1|    Yugoslavia|                    |     79867|                   3|                   1| REGO Gilberto (BRA)|SAUCEDO Ulises (BOL)| BALWAY Thomas (FRA)|    202|   1101|               URU|               YUG|
|1930|30 Jul 1930 - 14:15 |            Final|  Estadio Centenario|Montevideo |       Uruguay|              4|              2|     Argentina|                    |     68346|                   1|                   2| LANGENUS Jean (BEL)|SAUCEDO Ulises (BOL)|CRISTOPHE Henry (...|    405|   1087|               URU|               ARG|
|1934|27 May 1934 - 16:30 |Preliminary round|Stadio Benito Mus...|     Turin |       Austria|              3|              2|        France|Austria win after...|     16000|                   0|                   0|VAN MOORSEL Johan...|CAIRONI Camillo (...|   BAERT Louis (BEL)|    204|   1104|               AUT|               FRA|
|1934|27 May 1934 - 16:30 |Preliminary round|   Giorgio Ascarelli|    Naples |       Hungary|              4|              2|         Egypt|                    |      9000|                   2|                   2|BARLASSINA Rinald...|DATTILO Generoso ...|  SASSI Otello (ITA)|    204|   1119|               HUN|               EGY|
+----+--------------------+-----------------+--------------------+-----------+--------------+---------------+---------------+--------------+--------------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+-------+------------------+------------------+
only showing top 20 rows

StructType(List(StructField(Year,StringType,true),StructField(Datetime,StringType,true),StructField(Stage,StringType,true),StructField(Stadium,StringType,true),StructField(City,StringType,true),StructField(Home Team Name,StringType,true),StructField(Home Team Goals,StringType,true),StructField(Away Team Goals,StringType,true),StructField(Away Team Name,StringType,true),StructField(Win conditions,StringType,true),StructField(Attendance,StringType,true),StructField(Half-time Home Goals,StringType,true),StructField(Half-time Away Goals,StringType,true),StructField(Referee,StringType,true),StructField(Assistant 1,StringType,true),StructField(Assistant 2,StringType,true),StructField(RoundID,StringType,true),StructField(MatchID,StringType,true),StructField(Home Team Initials,StringType,true),StructField(Away Team Initials,StringType,true)))

In [4]:
df.columns

['Year',
 'Datetime',
 'Stage',
 'Stadium',
 'City',
 'Home Team Name',
 'Home Team Goals',
 'Away Team Goals',
 'Away Team Name',
 'Win conditions',
 'Attendance',
 'Half-time Home Goals',
 'Half-time Away Goals',
 'Referee',
 'Assistant 1',
 'Assistant 2',
 'RoundID',
 'MatchID',
 'Home Team Initials',
 'Away Team Initials']

In [34]:
df=df.withColumnRenamed('Home Team Name', 'Home_Team')
df=df.withColumnRenamed('Away Team Name', 'Away_Team')
df=df.withColumnRenamed('Away Team Goals', 'Away_Team_Goals')
df=df.withColumnRenamed('Home Team Goals', 'Home_Team_Goals')
df=df.withColumnRenamed('Assistant 1', 'Assistant_1')
df=df.withColumnRenamed('Assistant 2', 'Assistant_2')
df=df.withColumnRenamed('Home Team Initials', 'Home_Team_Initials')
df=df.withColumnRenamed('Away Team Initials', 'Away_Team_Initials')
df=df.withColumnRenamed('Half-time Home Goals', 'Half-time_Home_Goals')
df=df.withColumnRenamed('Half-time Away Goals', 'Half-time_Away_Goals')

In [35]:
df.columns

['Year',
 'Datetime',
 'Stage',
 'Stadium',
 'City',
 'Home_Team',
 'Home_Team_Goals',
 'Away_Team_Goals',
 'Away_Team',
 'Win conditions',
 'Attendance',
 'Half-time_Home_Goals',
 'Half-time_Away_Goals',
 'Referee',
 'Assistant_1',
 'Assistant_2',
 'RoundID',
 'MatchID',
 'Home_Team_Initials',
 'Away_Team_Initials']

In [36]:
df=df.withColumn('Away_Team_Goals',df['Away_Team_Goals'].cast(DoubleType()))
df=df.withColumn('Home_Team_Goals',df['Home_Team_Goals'].cast(DoubleType()))
df=df.withColumn('Attendance',df['Attendance'].cast(DoubleType()))
df=df.withColumn('Home_Team_Goals',df['Home_Team_Goals'].cast(DoubleType()))
df=df.withColumn('Away_Team_Goals',df['Away_Team_Goals'].cast(DoubleType()))

In [37]:
df.describe(['Year']).show()

+-------+------------------+
|summary|              Year|
+-------+------------------+
|  count|               852|
|   mean|1985.0892018779343|
| stddev|22.448824702021138|
|    min|              1930|
|    max|              2014|
+-------+------------------+

In [38]:
df.filter((df.Stage.like("Final") | df.Stage.like("Semi-finals")) & (df.Away_Team == 'Czechoslovakia') & (df.Home_Team == 'Italy')).count()

1

In [39]:
df.filter(df.Year.like("2014") | df.Year.like("2013")).show(10)

+----+--------------------+-------+------------------+---------------+-------------+---------------+---------------+-----------+--------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+---------+------------------+------------------+
|Year|            Datetime|  Stage|           Stadium|           City|    Home_Team|Home_Team_Goals|Away_Team_Goals|  Away_Team|Win conditions|Attendance|Half-time_Home_Goals|Half-time_Away_Goals|             Referee|         Assistant_1|         Assistant_2|RoundID|  MatchID|Home_Team_Initials|Away_Team_Initials|
+----+--------------------+-------+------------------+---------------+-------------+---------------+---------------+-----------+--------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+---------+------------------+------------------+
|2014|12 Jun 2014 - 17:00 |Group A|Arena de Sao Paulo|     Sao Paulo |       Brazil|            3.0|            1.0|    Croatia|              |   62103.0|                   1|                   1|NISHIMURA Yuichi ...|   SAGARA Toru (JPN)|NAGI Toshiyuki (JPN)| 255931|300186456|               BRA|               CRO|
|2014|13 Jun 2014 - 13:00 |Group A| Estadio das Dunas|         Natal |       Mexico|            1.0|            0.0|   Cameroon|              |   39216.0|                   0|                   0| ROLDAN Wilmar (COL)|CLAVIJO Humberto ...|  DIAZ Eduardo (COL)| 255931|300186492|               MEX|               CMR|
|2014|13 Jun 2014 - 16:00 |Group B|  Arena Fonte Nova|      Salvador |        Spain|            1.0|            5.0|Netherlands|              |   48173.0|                   1|                   1|Nicola RIZZOLI (ITA)|Renato FAVERANI (...|Andrea STEFANI (ITA)| 255931|300186510|               ESP|               NED|
|2014|13 Jun 2014 - 18:00 |Group B|    Arena Pantanal|        Cuiaba |        Chile|            3.0|            1.0|  Australia|              |   40275.0|                   2|                   1|Noumandiez DOUE (...|YEO Songuifolo (CIV)|BIRUMUSHAHU Jean ...| 255931|300186473|               CHI|               AUS|
|2014|14 Jun 2014 - 13:00 |Group C|  Estadio Mineirao|Belo Horizonte |     Colombia|            3.0|            0.0|     Greece|              |   57174.0|                   1|                   0|   GEIGER Mark (USA)|     HURD Sean (USA)|  FLETCHER Joe (CAN)| 255931|300186471|               COL|               GRE|
|2014|14 Jun 2014 - 16:00 |Group D|  Estadio Castelao|     Fortaleza |      Uruguay|            1.0|            3.0| Costa Rica|              |   58679.0|                   1|                   0|   BRYCH Felix (GER)|   BORSCH Mark (GER)|   LUPP Stefan (GER)| 255931|300186489|               URU|               CRC|
|2014|14 Jun 2014 - 18:00 |Group D|    Arena Amazonia|        Manaus |      England|            1.0|            2.0|      Italy|              |   39800.0|                   1|                   1| Bj�rn KUIPERS (NED)|Sander VAN ROEKEL...|Erwin ZEINSTRA (NED)| 255931|300186513|               ENG|               ITA|
|2014|14 Jun 2014 - 22:00 |Group C|  Arena Pernambuco|        Recife |C�te d'Ivoire|            2.0|            1.0|      Japan|              |   40267.0|                   0|                   1| OSSES Enrique (CHI)|ASTROZA Carlos (CHI)|  ROMAN Sergio (CHI)| 255931|300186507|               CIV|               JPN|
|2014|15 Jun 2014 - 13:00 |Group E|  Estadio Nacional|      Brasilia |  Switzerland|            2.0|            1.0|    Ecuador|              |   68351.0|                   0|                   1|Ravshan IRMATOV (...|RASULOV Abduxamid...|KOCHKAROV Bakhady...| 255931|300186494|               SUI|               ECU|
|2014|15 Jun 2014 - 16:00 |Group E| Estadio Beira-Rio|  Porto Alegre |       France|            3.0|            0.0|   Honduras|              |   43012.0|                   1|                   0|  RICCI Sandro (BRA)|DE CARVALHO Emers...|VAN GASSE Marcelo...| 255931|300186496|               FRA|               HON|
+----+--------------------+-------+------------------+---------------+-------------+---------------+---------------+-----------+--------------+----------+--------------------+--------------------+--------------------+--------------------+--------------------+-------+---------+------------------+------------------+
only showing top 10 rows

In [40]:
print("Matches in 2014 and 2013 : " + str(df.filter(df.Year.like("2014") | df.Year.like("2013")).count()))

Matches in 2014 and 2013 : 80

In [41]:
df.groupBy('City').count().show(15,truncate=True)

+------------------+-----+
|              City|count|
+------------------+-----+
|            Daegu |    4|
|            Paris |    9|
|            Natal |    4|
|    San Francisco |    6|
|Santiago De Chile |   10|
|       Eskilstuna |    1|
|        La Coru�A |    3|
|           Bilbao |    3|
|           Geneva |    4|
|         Le Havre |    1|
|           Verona |    4|
|             Kobe |    3|
|            Solna |    8|
|        Liverpool |    5|
|          Gwangju |    3|
+------------------+-----+
only showing top 15 rows

In [44]:
df.groupBy('Home_Team').max('Home_Team_Goals').dropna().show()

+---------+--------------------+
|Home_Team|max(Home_Team_Goals)|
+---------+--------------------+
| Paraguay|                 3.0|
|   Russia|                 6.0|
|  Senegal|                 3.0|
|   Sweden|                 8.0|
|  IR Iran|                 0.0|
|   Turkey|                 7.0|
|    Zaire|                 0.0|
|     Iraq|                 1.0|
|  Germany|                 8.0|
|   France|                 7.0|
|   Greece|                 2.0|
|  Algeria|                 3.0|
|     Togo|                 0.0|
| Slovakia|                 3.0|
|Argentina|                 6.0|
|    Wales|                 2.0|
|  Belgium|                 3.0|
|   Angola|                 0.0|
|  Ecuador|                 3.0|
|    Ghana|                 2.0|
+---------+--------------------+
only showing top 20 rows

In [51]:
df.groupBy('Away_Team').sum('Away_Team_Goals').orderBy('Away_Team').dropna().show(15,truncate=True)

+--------------------+--------------------+
|           Away_Team|sum(Away_Team_Goals)|
+--------------------+--------------------+
|"rn"">Bosnia and ...|                 1.0|
|"rn"">Republic of...|                 8.0|
|"rn"">Serbia and ...|                 2.0|
|"rn"">Trinidad an...|                 0.0|
|"rn"">United Arab...|                 2.0|
|             Algeria|                 9.0|
|              Angola|                 1.0|
|           Argentina|                22.0|
|           Australia|                 4.0|
|             Austria|                12.0|
|             Belgium|                27.0|
|             Bolivia|                 0.0|
|              Brazil|                45.0|
|            Bulgaria|                11.0|
|            Cameroon|                 7.0|
+--------------------+--------------------+
only showing top 15 rows

In [49]:
from pyspark.sql.functions import col, struct

df.withColumn("Home_Team_By_Year", struct("Year", "Home_Team")).crosstab("Home_Team_By_Year", "Stage")

DataFrame[Home_Team_By_Year_Stage: string, Final: bigint, First round: bigint, Group 1: bigint, Group 2: bigint, Group 3: bigint, Group 4: bigint, Group 5: bigint, Group 6: bigint, Group A: bigint, Group B: bigint, Group C: bigint, Group D: bigint, Group E: bigint, Group F: bigint, Group G: bigint, Group H: bigint, Match for third place: bigint, Play-off for third place: bigint, Preliminary round: bigint, Quarter-finals: bigint, Round of 16: bigint, Semi-finals: bigint, Third place: bigint, null: bigint]

In [54]:
from pyspark import SparkContext

sc = SparkContext.getOrCreate()

lines = sc.textFile("WorldCups.csv", 1)
header = lines.first()
content = lines.filter(lambda line: line != header)

rdd = content.map(lambda line: (line.split(","))).collect()

rdd_len = content.map(lambda line: len(line.split(","))).distinct().collect()

print(rdd_len)

[10]

In [56]:
from pyspark.sql.types import StructType
from pyspark.sql.types import StructField
from pyspark.sql.types import StringType,IntegerType

schema = StructType([StructField('Year', StringType(), True),
StructField('Country', StringType(),True),
StructField('Winner', StringType(), True),
StructField('Runners-Up', StringType(),True),
StructField('Third', StringType(),True),
StructField('Fourth', StringType(),True),
StructField('GoalsScored', StringType(),True),
StructField('QualifiedTeams', StringType(),True),
StructField('MatchesPlayed', StringType(),True),
StructField('Attendance', StringType(),True)])

In [66]:
print("---------- 1. Venues & goals scored ------------")

# venue - hosted country with highest goals (From RDD)
rdd1 = (content.filter(lambda line: line.split(",")[6] != "NULL")
.map(lambda line: (line.split(",")[1], int(line.split(",")[6])))
.takeOrdered(10, lambda x : -x[1]))
print(rdd1)


# Create data frame from the RDD
df = spark.createDataFrame(rdd,schema)

df=df.withColumn('GoalsScored',df['GoalsScored'].cast(IntegerType()))

# venue - hosted country with highest goals (From DF)
df.select("Country","GoalsScored").orderBy("GoalsScored", ascending = False).show(20, truncate = False)

# venue - hosted country with highest goals (From DF - SQL)
df.createOrReplaceTempView("df_table")
spark.sql(" SELECT Country,GoalsScored FROM df_table order by "+ 
"GoalsScored Desc Limit 10").show()

---------- 1. Venues & goals scored ------------
[('France', 171), ('Brazil', 171), ('Korea/Japan', 161), ('Germany', 147), ('Spain', 146), ('South Africa', 145), ('USA', 141), ('Switzerland', 140), ('Mexico', 132), ('Sweden', 126)]
+------------+-----------+
|Country     |GoalsScored|
+------------+-----------+
|France      |171        |
|Brazil      |171        |
|Korea/Japan |161        |
|Germany     |147        |
|Spain       |146        |
|South Africa|145        |
|USA         |141        |
|Switzerland |140        |
|Mexico      |132        |
|Sweden      |126        |
|Italy       |115        |
|Argentina   |102        |
|Germany     |97         |
|Mexico      |95         |
|England     |89         |
|Chile       |89         |
|Brazil      |88         |
|France      |84         |
|Uruguay     |70         |
|Italy       |70         |
+------------+-----------+

+------------+-----------+
|     Country|GoalsScored|
+------------+-----------+
|      France|        171|
|      Brazil|        171|
| Korea/Japan|        161|
|     Germany|        147|
|       Spain|        146|
|South Africa|        145|
|         USA|        141|
| Switzerland|        140|
|      Mexico|        132|
|      Sweden|        126|
+------------+-----------+

In [73]:
print("-------------- 2. Details of years starting in 2010 ---------------")

# using RDD
years = ["2010", "2011", "2012", "2013", "2014"]
(content.filter(lambda line: line.split(",")[0] in years)
.map(lambda line: (line.split(",")[0],line.split(",")[2],line.split(",")[4])).collect())
    
# using DF
df.select("Year","Winner","Third").filter(df.Year.isin(years)).show()

# using DF - SQL    
spark.sql(" SELECT Year,Winner,Third FROM df_table  WHERE " + " Year IN ('2010','2011','2012','2013','2014') ").show()

-------------- 3. Details of years starting in 2010 ---------------
+----+-------+-----------+
|Year| Winner|      Third|
+----+-------+-----------+
|2010|  Spain|    Germany|
|2014|Germany|Netherlands|
+----+-------+-----------+

+----+-------+-----------+
|Year| Winner|      Third|
+----+-------+-----------+
|2010|  Spain|    Germany|
|2014|Germany|Netherlands|
+----+-------+-----------+

In [70]:
print("---------- 3. Year, venue country = Third Place ------------")

# using RDD
(content.filter(lambda line:line.split(",")[1]==line.split(",")[4])
 .map(lambda line: (line.split(",")[0],line.split(",")[1], line.split(",")[4]))
 .collect())
    
# using DF
df.select("Year","Country","Third").filter(df["Country"]==df["Third"]).show()

# using DF - SQL
spark.sql(" SELECT Year,Country,Third FROM df_table where Country == Third order by Year").show()

---------- 2. Year, venue country = Third Place ------------
+----+-------+-------+
|Year|Country|  Third|
+----+-------+-------+
|1962|  Chile|  Chile|
|1990|  Italy|  Italy|
|2006|Germany|Germany|
+----+-------+-------+

+----+-------+-------+
|Year|Country|  Third|
+----+-------+-------+
|1962|  Chile|  Chile|
|1990|  Italy|  Italy|
|2006|Germany|Germany|
+----+-------+-------+

In [76]:
print("------------- 4. Max Goals Scored -----------------")

# Using RDD
(content.filter(lambda line:line.split(",")[6] == "171")
.map(lambda line: (line.split(","))).collect())

# using DF
df=df.withColumn('GoalsScored',df['GoalsScored'].cast(IntegerType()))
df.filter(df.GoalsScored == 171).show()

# using DF - SQL
spark.sql(" Select * from df_table where GoalsScored in " +
"(Select Max(GoalsScored) from df_table )" ).show()

------------- 4. Max matches played -----------------
+----+-------+-------+----------+-----------+-----------+-----------+--------------+-------------+----------+
|Year|Country| Winner|Runners-Up|      Third|     Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-------+-------+----------+-----------+-----------+-----------+--------------+-------------+----------+
|1998| France| France|    Brazil|    Croatia|Netherlands|        171|            32|           64| 2.785.100|
|2014| Brazil|Germany| Argentina|Netherlands|     Brazil|        171|            32|           64| 3.386.810|
+----+-------+-------+----------+-----------+-----------+-----------+--------------+-------------+----------+

+----+-------+-------+----------+-----------+-----------+-----------+--------------+-------------+----------+
|Year|Country| Winner|Runners-Up|      Third|     Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+-------+-------+----------+-----------+-----------+-----------+--------------+-------------+----------+
|1998| France| France|    Brazil|    Croatia|Netherlands|        171|            32|           64| 2.785.100|
|2014| Brazil|Germany| Argentina|Netherlands|     Brazil|        171|            32|           64| 3.386.810|
+----+-------+-------+----------+-----------+-----------+-----------+--------------+-------------+----------+

In [78]:
print("-------------- 4. 2010 world cup stats --------------")
# using RDD
(content.filter(lambda line:line.split(",")[0]=="2010")
.map(lambda line: (line.split(","))).collect())
# using DF
df.filter(df.Year=="2010").show()
# using DF - Sql
spark.sql(" Select * from df_table where Year == 2010 ").show()

-------------- 4. 2010 world cup stats --------------
+----+------------+------+-----------+-------+-------+-----------+--------------+-------------+----------+
|Year|     Country|Winner| Runners-Up|  Third| Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+------------+------+-----------+-------+-------+-----------+--------------+-------------+----------+
|2010|South Africa| Spain|Netherlands|Germany|Uruguay|        145|            32|           64| 3.178.856|
+----+------------+------+-----------+-------+-------+-----------+--------------+-------------+----------+

+----+------------+------+-----------+-------+-------+-----------+--------------+-------------+----------+
|Year|     Country|Winner| Runners-Up|  Third| Fourth|GoalsScored|QualifiedTeams|MatchesPlayed|Attendance|
+----+------------+------+-----------+-------+-------+-----------+--------------+-------------+----------+
|2010|South Africa| Spain|Netherlands|Germany|Uruguay|        145|            32|           64| 3.178.856|
+----+------------+------+-----------+-------+-------+-----------+--------------+-------------+----------+